:root {
  --light: #f6f6f6;
  --darkblue: #2c3e50;
}

/* Applying custom Google font */
body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

Shared custom styles for headers
.header,
.custom-card-header,
.btn-custom {
  background-color: var(--darkblue);
  color: var(--light);
}

.forecast-lanes { /* Setting the height on the forecast lanes */
  min-height: 30vh;
}