/* Declaring variables */
:root {
    --ube: #8878c3;
    --text: #ffffff;
    --purple: #9d00ff;
    --orange: #cc5500;
  }
  
/* Element Selectors */

body { /* Setting the standard font, margin, background color and text color*/
    font-family: Lato, Arial, sans-serif;
    margin: 0;
    background-color: ffffff;
    color: 000000;
    transition: 0.2s linear
}

main { /* Gives an area for the form to expand to and fill the viewport */
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#modeToggle input { /* Hides the checkbox element but leaving the interaction for the mode toggle */
    opacity: 0;
    width: 0;
    height: 0;
  }

a { /* Removing decoration from all links*/
    text-decoration: none;
}

nav a { /* Setting the decoration, spacing and alignment for the links in the nav blocks */
    padding-left: 50px;    
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    display: inline-flex;
}

nav a:hover, a:active { /* Setting the psuedo classes for hover and active effects on nav links */
    background-color: black;
    border: 2px solid white;
    color: #fff;
}

header { /* Styles and positions the header */
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center; 
    color: var(--text);
    background-color: #228b22;
    width: 100%;
    margin-bottom: 20px;
}

article a{ /* Setting the color and display for anchor tags in the articles */
    color: 000000;
    display:block;
}

/* Class Selectors */

.contact-me { /* Styling the footer at the bottom of the page */
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-self: center; 
    background-color: #228b22;
    width: 100%;
}